<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="github" value="https://nuget.pkg.github.com/tool2team/index.json" />
  </packageSources-->
	<!--packageSourceCredentials>
		<nuget.org>
			<add key="Username" value="USER_NUGET" />
			<add key="ClearTextPassword" value="PWD_NUGET" />
		</nuget.org>
		<github>
			<add key="Username" value="USER_GITHUB" />
			<add key="ClearTextPassword" value="PWD_GITHUB" />
		</github>
	</packageSourceCredentials-->
</configuration>